<!--
<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>RENK</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td
        (click)="setCurrentColorEmpty()"
        [class]="getAllColorClass()"
        routerLink="/cars"
      >
        TÜM RENKLER
      </td>
    </tr>
    <tr
      *ngFor="let color of colors"
      [class]="getCurrentColorClass(color)"
      (click)="setCurrentColor(color)"
      routerLink="/cars/color/{{color.id}}"
    >
      <td>{{ color.name }}</td>
    </tr>
  </tbody>
</table>
-->

<div class="container p-0 py-5" >
  <h4>RENK</h4>
  <div >
    <label for="filterText" class="form-label"></label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Filtrele"
    />
  </div>


  <ul class="list-group py-2">
    <li
      (click)="setCurrentColorEmpty()"
      [class]="getAllColorClass()"
      routerLink="/cars"
    >
    TÜM RENKLER

    </li>
    <li
      *ngFor="let color of colors | filterBrand: filterText"
      [class]="getCurrentColorClass(color)"
      (click)="setCurrentColor(color)"
    >
    <span routerLink="/cars/color/{{ color.id }}"> {{ color.name }} </span>
    <span class="badge bg-warning" routerLink="/color/update/{{ color.id }}">
      Düzenle
    </span>    </li>
  </ul>
  
 
<!--
  <select [(ngModel)]="filterText" class="form-select" aria-label="Default select example">
 
    <option value="">Renk Seçiniz</option>
    <option *ngFor="let color of colors" [value]="color.name" [selected]="getSelectedColor(color.name)">{{color.name}}</option>
    
  </select>
</div>
-->