<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>MARKA</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td
        (click)="setCurrentColorEmpty()"
        [class]="getAllColorClass()"
        routerLink="/cars"
      >
        RENKLER
      </td>
    </tr>
    <tr
      *ngFor="let color of colors"
      [class]="getCurrentColorClass(color)"
      (click)="setCurrentColor(color)"
      routerLink="/cars/color/{{color.id}}"
    >
      <td>{{ color.name }}</td>
    </tr>
  </tbody>
</table>
