<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>MARKA</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td
        (click)="setCurrentBrandEmpty()"
        [class]="getAllBrandClass()"
        routerLink="/cars"
      >
        MARKALAR
      </td>
    </tr>
    <tr
      *ngFor="let brand of brands"
      [class]="getCurrentBrandClass(brand)"
      (click)="setCurrentBrand(brand)"
      routerLink="/cars/brand/{{ brand.id }}"
    >
      <td>{{ brand.name }}</td>
    </tr>
  </tbody>
</table>
