<div class="container p-0">
  <h4>MARKA</h4>
  <!--<div class="p-2">
    <label for="filterText" class="form-label"></label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Filtrele"
    />-->

  <ul class="list-group py-2">
    <li
      (click)="setCurrentBrandEmpty()"
      [class]="getAllBrandClass()"
      routerLink="/cars"
    >
      Tüm Markalar
    </li>
    <li
      *ngFor="let brand of brands | filterBrand: filterText"
      [class]="getCurrentBrandClass(brand)"
      (click)="setCurrentBrand(brand)"
    >
      <span routerLink="/cars/brand/{{ brand.id }}"> {{ brand.name }} </span>
      <span class="badge bg-warning" routerLink="/brands/update/{{ brand.id }}">
        Düzenle
      </span>
    </li>
  </ul>
  <!--
  <form [formGroup]="brandForm" (ngSubmit)="submit()">
    <select
      formControlName="brand"
      class="form-select"
      id="brands"
      aria-label="Default select example"
    >
      <option
        [ngValue]="null"
        (click)="setCurrentBrandEmpty()"
        [class]="getAllBrandClass()"
        routerLink="/cars"
      >
        Tüm Markalar
      </option>
      <option
        *ngFor="let brand of brands"
        [value]="brand.id"
        [class]="getCurrentBrandClass(brand)"
        onchange="setCurrentBrand(brand)"
      >
        {{ brand.name }}
      </option>
    </select>
    <button type="submit" class="btn btn-success mt-2">Submit</button>
  </form>
</div>

<h5 class="text-info" *ngIf="currentBrand">
  {{ currentBrand?.name }} seçtiniz
</h5>
<div class="collapse show" id="brand-collapse">
  <div class="card-header">

    <label for="brandFilter" class="form-label mb-3">Marka Ara</label>

    <input type="text" class="form-control" id="brandFilter" placeholder="Arama ifadesi giriniz.."
      [(ngModel)]="filterText" />

    <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <ul class="list-group">
      <li (click)="setCurrentBrandEmpty()" routerLink="/cars" [class]="getAllBrandClass()">Tüm Markalar</li>

      <li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands|filterBrand:filterText"
        routerLink="/cars/brand/{{brand.id}}" [class]="getCurrentBrandClass(brand)">
        {{brand.name}}</li>
    </ul>
  -->
</div>
