<div class="container p-0 py-5">
  <h4>RENK</h4>
  <div>
    <label for="filterText" class="form-label"></label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="Filtrele"
    />
  </div>
  <ul class="list-group py-2">
    <li
      (click)="setCurrentColorEmpty()"
      [class]="getAllColorClass()"
      routerLink="/home/cars/all"
    >
      TÜM RENKLER
    </li>
    <li
      *ngFor="let color of colors | filterBrand: filterText"
      [class]="getCurrentColorClass(color)"
      (click)="setCurrentColor(color)"
      routerLink="/home/cars/color/{{ color.id }}"
    >
      <span > {{ color.name }} </span>
      <!-- <span class="badge bg-warning" routerLink="/colors/update/{{ color.id }}">
        Düzenle
      </span> -->
    </li>
  </ul>
</div>

<!--
  <select [(ngModel)]="filterText" class="form-select" aria-label="Default select example">
 
    <option value="">Renk Seçiniz</option>
    <option *ngFor="let color of colors" [value]="color.name" [selected]="getSelectedColor(color.name)">{{color.name}}</option>
    
  </select>
</div>
-->
