<div class="container p-0">
    <h4>ARAÇLAR</h4>
<div class="row ">
  <div class="col">
    <ul class="list-group py-2">
      <li
        [class]="getAllCarSelectOptionClass()"
        (click)="setCurrentCarSelectOptionEmpty()"
        routerLink="/cars"
      >
        Tüm Kiralık Araçlar
      </li>
      <li
        *ngFor="let option of carSelectOptions"
        routerLink="{{ option.router }}"
        [class]="getCurrentCarSelectOptionClass(option)"
        (click)="setCurrentCarSelectOption(option)"
      >
        {{ option.name }}
      </li>
    </ul>
  </div>
</div>
</div>
