<div class="d-flex flex-column" style="background-color: #eee">
  <div class="header">
    <div class="row r1">
      <div class="col-md-9 p-4" *ngFor="let currentCar of currentCars">
        <h1>{{ currentCar.carDescription }}</h1>
      </div>
      <div class="col-md-3 text-right pqr">
        <i class="fa fa-star"></i><i class="fa fa-star"></i
        ><i class="fa fa-star"></i><i class="fa fa-star"></i
        ><i class="fa fa-star"></i>
      </div>
      <p class="text-right para">Puan</p>
    </div>
  </div>
  <div class="container-body mt-4" *ngIf="dataLoaded">
    <div class="row r3">
      <div class="col-md-5 p-0 klo" *ngFor="let currentCar of currentCars">
        <ul>
          <li><strong>MARKA: </strong> {{ currentCar.brandName }}</li>
          <li><strong>RENK: </strong>{{ currentCar.colorName }}</li>
          <li><strong>MODEL: </strong>{{ currentCar.modelYear }}</li>
          <li><strong>GÜNLÜK FİYAT: </strong>{{ currentCar.dailyPrice }} ₺</li>
          <li *ngIf="isrentable">
            <strong>KİRALAMA TARİHİ: </strong> <br />
            <input [(ngModel)]="rentDate" id="rentDate" type="date" />
          </li>
          <li *ngIf="isrentable">
            <strong>DÖNÜŞ TARİHİ: </strong> <br />
            <input [(ngModel)]="returnDate" type="date" id="returnDate" />
          </li>
          <li>
            <button
              (click)="addToCart(currentCar)"
              type="button"
              *ngIf="isrentable"
              class="btn btn-success"
            >
              Sepete Ekle
            </button>
            <button
              type="button"
              *ngIf="!isrentable"
              disabled
              class="btn btn-danger"
            >
              Kiralanmış
            </button>
          </li>
        </ul>
      </div>
      <div
        id="carouselExampleControls"
        class="carousel slide col-md"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner p-5">
          <div *ngFor="let car of currentCars">
            <img
              *ngIf="car.images[0] == null"
              class="img-rounded w-100"
              style="height: 300px"
              src="{{ imagePath }}Images/default.png"
            />
            <img
              *ngIf="car.images[0] != null"
              class="img-rounded w-100"
              style="height: auto"
              [src]="imagePath + car.images[0]"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="footer d-flex flex-column mt-5">
  <div class="row r4">
    <div class="col-md-2 myt des">Description</div>
    <div class="col-md-2 myt">Review</div>
  </div>
</div>
