  <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand">
        <span (click)="openNav()"
          ><i class="bi bi-layout-sidebar-inset"></i
        ></span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <a class="navbar-brand" target="_blank" routerLink="/home/cars/all"
          ><i class="bi bi-car-front"> Siteye Git</i></a
        >
        <li class="nav-item dropdown d-flex">
          <a
            class="nav-link dropdown-toggle text-white btn"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle"> Hesabım </i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
        </li>
      </div>
    </div>
  </nav>
  <div class="row mt-4">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <li routerLink="/customer/editProfile"><i class="bi bi-person"> Profili Düzenle </i></li>
  <li  routerLink="/customer/creditCard"><i class="bi bi-credit-card"> Kartlarım </i></li>
  <li><i class="bi bi-shield-lock"> Şifre Değiştir </i></li>
  <li><i class="bi bi-door-open"> Çıkış Yap </i></li>
</div>

