<body>
    <app-navi></app-navi>
  
    <div class="container">
      <div class="row mt-4">
        <div class="col-xl-2 col-lg-12 order-2 order-xl-1">
          <app-car-select-option></app-car-select-option>
          <app-brand></app-brand>
          <app-color></app-color>
        </div>
        <div class="col-xl-10 col-lg-12 order-1 order-xl-2">
          <router-outlet></router-outlet>
        </div>
      </div>
  
      <!-- <div class="row mt-4">
        <div class="col-md"><app-rental-detail></app-rental-detail></div>
      </div> -->
    </div>
  </body>
  