<li *ngIf="cartItems.length > 0" class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sepetim
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li class="dropdown-item justify-content-end d-flex flex-wrap">
      Toplam: {{ totalPrice() }} ₺
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li
      *ngFor="let cartItem of cartItems"
      class="dropdown-item"
      routerLink="/cars/cardetail/{{ cartItem.carDetail.id }}"
    >
      {{ cartItem.carDetail.carDescription.substring(0, 15) }}...
      <span class="badge bg-danger" (click)="removeFromCart(cartItem.carDetail.id)"
        >Sil</span
      >
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li class="dropdown-item">
      <a class="btn btn-success d-block" routerLink="/cart/detail">
        Sepete Git</a
      >
    </li>
  </ul>
</li>
